ul
{
    list-style-type: none;
}

#cap input
{
    width: 40px;
    text-align: center;
    font-size: 45px;
    padding: 10px;
}

#gcap
{
    font-size: 80px;
}

button
{
    padding:10px;
}